.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
.Site-footer {
  flex: none; /* 2 */
}

.body{
    margin-left: 14%;
    margin-right: 1%;
    padding-right: 1%;

}
.head-ul{

    margin-right: 16%;
}


.head {
    max-height: 40%;
    max-width: 100%;
    min-height: 0%;
    min-width: auto;
    background-color: rgba(243, 238, 238, 0.0);
    font-size: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;

}
.hr{
     list-style-type: none;

}
.first-li {
    font-size: 40px;
}
.cl {
    display:inline
}
.navigation {
    float: left;
    height: auto;
    width: 200px;
    background-color:rgba(100, 0, 0, 0);
}

/*  Для главной */

.h1i {

    font-size: 40px;
}

.cli {
    font-size: 24px;
}

.form_get{
}

.h {
    font-size: 40px;
}

.h6 {
    
}
.h6Ser {
    font-size: 20pt;
}
.h5Ser {
    font-size: 30pt;
}
.imgCar {
  position: relative;
  width: 100%;
  top: -200px;
}
.bodyTest{
  position: relative;
  float: left;
}