{% extends 'base.html' %}


{% block title %}
Контакты
{%endblock%}


{% block body%}


<div class="body">
    <h5>Связь с нами</h5>
    <p>Вы можете связаться всеми удобными для вас способами, или просто оставить ваши контаты и мы вам перезвоним:</p>
    <ul>Связаться с нами:
        <li><a href="tel:+79283145553">+7 (928) 314-55-53</a></li>
        <li><a href="https://www.instagram.com/sto_koney/?hl=ru" target="_blank"><img src="/static/images/inst_logo.jpg" height="50" alt="Инстаграмм" >Instagram</a></li>
        <li><a href="https://vk.com/sto_koney" target="_blank"><img src="/static/images/vk_logo.jpg" height="50" alt="VK">VK</a> </li>
        <li><img src="/static/images/whatsApp_logo.png" height="50" alt="WhatsApp"> +7 (928) 314-55-53</li>
        <li>sashd.84@mail.ru</li>
    </ul>
</div>

{% endblock %}