{% extends 'base.html' %}
{% block title %}

Тесты
{%endblock%}

{% block body%}

<div class="body">
    <img class="imgCar" src="/static/images/car_logo.jpg" alt="bibi">
    <div class="bodyTest">
    <h1 class="h1i" >СТО КОНЕЙ </h1>
    <ul class="hr">
        <li class="cli">Здесь, мы узнаем о проблемах вашего авто, поможем подобрать запчасти и даже привезем ваше авто на эвакуаторе,
        если у вас нет возможности приехать к нам!</li>
        <li class="cli">-Ремонт ходовой части и ДВС(бензин,дизель) тюнинг.</li>
        <li class="cli">-Обслуживание и ТО.</li>
        <li class="cli">-Ремонт ГБЦ.</li>
        <li class="cli">-Замена цепи-ремня ГРМ.</li>
        <li class="cli">-Ремонт выхлопной системы и тюнинг.</li>
        <li class="cli">-Компьютерная дигностика и чип-тюнинг.</li>
        <li class="cli">-Подбор и заказ запчастей.</li>
        <li class="cli">-Приемлемые цены.</li>
        <li class="cli">Мы даем гарантию на качество нашей работы!</li>
    </ul>
    </div>
</div>


{% endblock %}