{% extends 'base.html' %}
ЭВАКУАТОР ЕПТА
free-tow-truck
{% block title %}

Тесты
{%endblock%}


{% block body%}
{{super()}}

<h6>Пробный пост для отображения статьи в БД, с последующей расботой с ним.</h6>
<p>Вставляем какой то эллемент текта, проверяяем пробелы, ищем недостатки в коде страницы, думаем че каво
как отображать это всё говно</p>
<p> Вставим изображение на страницу работы с этой хуетой</p>
<img src="/static/images_htm/posts-cto-images.files/post1_1.jpg" height="400" alt="ТУТ ДОЛЖНА БЫТЬ КАРТИНКА">
<p>И дописываем еще какую то херню что бы страница не была такой уж пустой.Зачастую, многими водителями
    игнорируется прохождение техобслуживания, в связи  нехваткой времени.
    Особенно, при отсутствии опыта и невнимательности к наличию посторонних звуков, утечке
    масла может произойти износ двигателя, что влечет капитальный ремонт либо полную замену мотора.
    Для предотвращения поломки и выхода из строя машины лучшим решением будет похождение регулярного ТО.</p>
<img src="/static/images_htm/posts-cto-images.files/post1_2.jpg" height="400" alt="ТУТ ДОЛЖНА БЫТЬ КАРТИНКА 2">


{% endblock %}