{% extends 'base.html' %}


{% block title %}
Эвакуатор
{%endblock%}


{% block body%}


<div class="body">
<h5>Помощь в экстренный моммент!</h5>
    <p>Мы не оставим вас в беде, даже если ваше авто не способно передвигаться самостоятельно.
        Наши партнеры быстро, безопасно и недорого доставят ваше авто в наш сервис.
    </p>
        <p><a>+7 (928) 314-55-53</a></p>
    <a href="tel:+79283145553" target="_self" >ПОЗВОНИТЬ</span></a>
    <p><img src="/static/images_htm/posts-cto-images.files/post1_1.jpg" height="400" alt="ТУТ ДОЛЖНА БЫТЬ КАРТИНКА">
    <img src="/static/images_htm/posts-cto-images.files/post1_2.jpg" height="400" alt="ТУТ ДОЛЖНА БЫТЬ КАРТИНКА"></p>

    <p>Причин для вызова спецтехники может быть много - это не только поломка, ДТП, занос, но и ухудшение самочувствия
        водителя, в том числе морального, и прочие обстоятельства.</p>


</div>

{% endblock %}